.number{
background-color: blue;
 width: 250px;
 height: 80px;
 line-height: 80px;
 margin: 20px;
 display: inline-block;
 text-align: center;
 font-size: xx-large;

}

body{
	background-color : #ccffcc; 
}